// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: sans-serif;	
}

a {
	padding: 10px;
	text-decoration: none;
	color: black;
	background: #f1c40f;
	border-radius: 3px;
	&:hover {
		background: #f39c12;
	}
}


.comment {
	width: 80%;
	border: 1px solid lightgrey;
	border-radius: 2px;
	margin: 20px 0;
	p {
		padding: 0 10px;
	}
	.commentBody {
		width: 50%;
	}

}



